
.spacer {
    height: 150px;
}
.navbar-default {
    padding-bottom: 30px;
    padding-top: 40px;
    background-color: #3b5998;
}
#favicon-brand {
    position: relative;
    top: -25px;
    left: 60px;
}
#title {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-left: 230px;
}
.flashcard {
    height: 400px;
    width: 100%;
}
.login {
    position: relative;
    float: right;
    left: 600px;
    top: 10px;
    
}
.btn-default {
   margin-left: 10px;
    background-color: #3b5998;
    color: white;
    float: right; 
    height: 27px;
    padding-top: 3px;
    padding-bottom: 10px; 
    position: relative;
    top: 5px;  
}
#email {
    margin-right: 5px;
}
#password {
    margin-left: 5px;
}
#email-label, #password-label {
    color: white;
}



